@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato-Light'), local('../fonts/Lato/Lato-Light'),
        url('../fonts/Lato/Lato-Light.woff') format('woff'),
        url('../fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato Regular'), local('../fonts/Lato/Lato-Regular'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato Medium'), local('../fonts/Lato/Lato-Medium'),
        url('../fonts/Lato/Lato-Medium.woff') format('woff'),
        url('../fonts/Lato/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato Semibold'), local('../fonts/Lato/Lato-Semibold'),
        url('../fonts/Lato/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato Bold'), local('../fonts/Lato/Lato-Bold'),
        url('../fonts/Lato/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato Heavy'), local('../fonts/Lato/Lato-Heavy'),
        url('../fonts/Lato/Lato-Heavy.woff') format('woff'),
        url('../fonts/Lato/Lato-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('../fonts/Lato/Lato Black'), local('../fonts/Lato/Lato-Black'),
        url('../fonts/Lato/Lato-Black.woff') format('woff'),
        url('../fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}






